[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "bundle/bufexplorer.zip"]
	path = bundle/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/the-nerd-tree"]
	path = bundle/the-nerd-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/vim-protobuf"]
	path = bundle/vim-protobuf
	url = git://github.com/uarun/vim-protobuf.git
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "bundle/nginx-vim-syntax"]
	path = bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = https://github.com/aperezdc/vim-template.git
[submodule "bundle/pyflakes.vim"]
	path = bundle/pyflakes.vim
	url = https://github.com/vim-scripts/pyflakes.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:rodmax/vim-javascript.git
